@model IEnumerable<CapaModeloRBS.tbRespuestaLV>
@{
    ViewBag.Title = "ListaRespuestas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <input type="hidden" id="ListaID" value="@ViewBag.idLista" />
                <strong>@ViewBag.ListaVerificacion</strong>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("ListasVerificacion", "Planificacion",  new {listaID = @ViewBag.idLista})">Listas</a></li>
                    <li class="breadcrumb-item active">Lista Verificación</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <a class="btn btn-outline-success" href="@Url.Action("Crear", "Planificacion", new { idResp = -1, idListaV = @ViewBag.idLista})">Nuevo registro</a>
                </div>

                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <table id="tbRespuestaslv" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Oid</th>
                                        <th>Nombre Organización</th>
                                        <th>Certificado OMA</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.RespuestaID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.oOrganizacion.Nombre)</td>
                                        <td>@Html.DisplayFor(modelItem => item.oOrganizacion.NCertificadoOMA)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


